.bg-image-pic{ //設定banner圖片位置
    background-position: center center;
    background-repeat: no-repeat;
    margin:0 auto;
}
.bg-all{ //設定body整頁背景圖片
    background-repeat: repeat;
    background-size: cover;
}

.bg-cover {  //特定圖片設定
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-gray{ //設定footer表尾背景顏色
    background-color: gray;
}

//首頁右下角固定
.dialog-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    .dialog-triangle {
        position: absolute;
        bottom: 136px;
        right: 80px;
        transform: translateX(50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px;
        border-color: black transparent transparent transparent;
      }
    .dialog-triangle2 {
        position: absolute;
        bottom: 140px;
        right: 80px;
        transform: translateX(50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px;
        border-color: white transparent transparent transparent;
    }
      .dialog-content {
        width: 150px;
        position: absolute;
        bottom:165px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }
    .dialog-image {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
} 
  